.benefits {
  list-style-type: none;
  padding-left: 0;
  /* display: flex;
  flex-wrap: wrap; */
  margin: 32px 0 0;
  /* max-height: 100vh; */
  min-height: 200px;
  transition: all .2s ease-in;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 32px 24px;
}
