.vebinar__button {
  margin: 0 auto;
  display: block;
  text-decoration: none;
  color: white;
  width: 184px;
  height: 48px;
  background-color: #f60;
  border-radius: 16px;
  text-align: center;
  box-sizing: border-box;
  padding: 12px;
  transition: opacity .5s;
}

.vebinar__button:hover {
  opacity: .5;
}
