.section-card__button {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #212329;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  transition: opacity .3s;
}

.section-card__button:hover {
  opacity: .5;
}
